{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Password Change{% endblock %}</h1>
{% endblock %}

{% block content %}
You can change your password here
<form method='POST'>
    <label for="current_password">Current Password</label>
    <input type='password' name="current_password" id="current_password" >
    <label for="new_password">New Password</label>
    <input type='password' name="new_password" id="new_password" >
    <label for="confirm_new_password">Confirm New Password</label>
    <input type='password' name="confirm_new_password" id="confirm_new_password" >
    <input type="submit" value="Change Password">
</form>
{% endblock %}